Repository flex-development/docast: changes, and which lint-staged commands are due for each by the changed paths.
All: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, vitest run --changed --mode=typecheck --typecheck, yarn dedupe --check, yarn build, bash -c tsc -p tsconfig.build.json

feat(types)!: `AnyNode`, `AnyParent`, `Child`
  README.md
  package.json
  src/interfaces/__tests__/position.spec-d.ts
  src/interfaces/position.ts
  src/nodes/__tests__/node.spec-d.ts
  src/nodes/__tests__/parent.spec-d.ts
  src/nodes/node.ts
  src/nodes/parent.ts
  src/types/__tests__/any-node.spec-d.ts
  src/types/__tests__/any-parent.spec-d.ts
  src/types/__tests__/child.spec-d.ts
  src/types/any-node.ts
  src/types/any-parent.ts
  src/types/child.ts
  src/types/index.ts
  yarn.lock
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, vitest run --changed --mode=typecheck --typecheck, yarn dedupe --check, yarn build, bash -c tsc -p tsconfig.build.json

feat(types)!: `TagName`
  README.md
  src/mixins/__tests__/tag.spec-d.ts
  src/mixins/tag.ts
  src/nodes/__tests__/block-tag.spec-d.ts
  src/nodes/__tests__/inline-tag.spec-d.ts
  src/nodes/__tests__/literal.spec-d.ts
  src/nodes/__tests__/type-expression.spec-d.ts
  src/nodes/block-tag.ts
  src/nodes/inline-tag.ts
  src/nodes/literal.ts
  src/nodes/type-expression.ts
  src/types/__tests__/tag-name.spec-d.ts
  src/types/index.ts
  src/types/tag-name.ts
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, vitest run --changed --mode=typecheck --typecheck, yarn build, bash -c tsc -p tsconfig.build.json

refactor(nodes)!: `Comment#children`
  src/interfaces/__tests__/code-segment.spec-d.ts
  src/interfaces/code-segment.ts
  src/nodes/__tests__/comment.spec-d.ts
  src/nodes/__tests__/description.spec-d.ts
  src/nodes/comment.ts
  src/nodes/description.ts
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, vitest run --changed --mode=typecheck --typecheck, yarn build, bash -c tsc -p tsconfig.build.json

refactor(nodes): [`Root`] allow `position`
  README.md
  src/nodes/__tests__/root.spec-d.ts
  src/nodes/root.ts
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, vitest run --changed --mode=typecheck --typecheck, yarn build, bash -c tsc -p tsconfig.build.json

docs: update install instructions
  README.md
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@

docs: [`Parent`] update content model description
  README.md
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@

docs: [`BlockTag`] update `children` definition
  README.md
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@

docs: tag names and content
  README.md
  src/nodes/block-tag.ts
  src/types/tag-name.ts
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, vitest run --changed --mode=typecheck --typecheck, yarn build, bash -c tsc -p tsconfig.build.json

docs: [`Comment`] update `children` definition
  README.md
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@

docs: [toc] add `TagName`
  README.md
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@

build(deps): `peerDependencies` -> `dependencies`
  .github/workflows/lock-inactive-threads.yml
  README.md
  package.json
  yarn.lock
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, yarn dedupe --check

build(deps): bump @flex-development/unist-util-types from 1.2.0 to 1.3.1
  package.json
  yarn.lock
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, yarn dedupe --check

build(deps-dev): bump typescript from 5.4.5 to 5.5.3
  .github/infrastructure.yml
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, yarn dedupe --check

chore: `dprint config update`
  .dprint.jsonc
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@

chore: eslint v9 migration
  .eslintignore
  .eslintrc.base.cjs
  .eslintrc.cjs
  .github/dependabot.yml
  .vscode/settings.json
  eslint.base.config.mjs
  eslint.config.mjs
  package.json
  tsconfig.json
  vitest.config.ts
  yarn.lock
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, vitest run --changed --mode=typecheck --typecheck, yarn dedupe --check

build(deps-dev): bump vitest from 1.6.0 to 2.0.0-beta.12
  package.json
  vitest.config.ts
  yarn.lock
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, vitest run --changed --mode=typecheck --typecheck, yarn dedupe --check

build(deps): bump @types/mdast from 4.0.3 to 4.0.4
  package.json
  yarn.lock
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, yarn dedupe --check

refactor(interfaces)!: `CodeSegment`
  README.md
  src/interfaces/__tests__/code-segment.spec-d.ts
  src/interfaces/code-segment.ts
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, vitest run --changed --mode=typecheck --typecheck, yarn build, bash -c tsc -p tsconfig.build.json

build(deps-dev): bump dprint from 0.47.0 to 0.47.2
  .dprint.jsonc
  package.json
  yarn.lock
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, yarn dedupe --check

build(deps-dev): bump cspell from 8.9.1 to 8.10.4
  package.json
  yarn.lock
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, yarn dedupe --check

build(deps-dev): bump the eslint group with 2 updates
  package.json
  yarn.lock
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, yarn dedupe --check

build(deps-dev): bump eslint-plugin-jsdoc from 48.5.0 to 48.7.0
  package.json
  yarn.lock
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, yarn dedupe --check

build(deps-dev): bump the typescript-eslint group with 3 updates
  package.json
  yarn.lock
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, yarn dedupe --check

build(deps-dev): bump vitest from 2.0.0-beta.12 to 2.0.2
  package.json
  yarn.lock
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, yarn dedupe --check

build(deps): bump @types/unist from 3.0.2 to 3.0.3
  package.json
  yarn.lock
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@, yarn dedupe --check

ci(deps): bump actions/create-github-app-token from 3.1.1 to 3.2.0
  .github/workflows/add-to-project.yml
  .github/workflows/auto-merge.yml
  .github/workflows/auto-review.yml
  .github/workflows/dependabot-packages.yml
  .github/workflows/infrastructure.yml
  .github/workflows/release-chore.yml
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@

ci(deps): bump actions/cache from 5.0.5 to 6.1.0
  .github/workflows/ci.yml
Due: dprint check, eslint --exit-on-fatal-error, cspell lint --color --no-progress --relative $@

Path conditions:
  dprint check: any of: *
  eslint --exit-on-fatal-error: any of: *
  cspell lint --color --no-progress --relative $@: any of: *
  vitest run --changed --mode=typecheck --typecheck: any of: **/*.{cts,mts,ts}
  yarn dedupe --check: any of: **/yarn.lock
  yarn build: any of: src/**/*.ts
  bash -c tsc -p tsconfig.build.json: any of: src/**/*.ts
