Repository flex-development/docast: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, yarn build, yarn check:types:build

ci(workflows): add `cache-cleanup`
  .github/workflows/cache-cleanup.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): add `infrastructure`
  .github/infrastructure.yml
  .github/labels.yml
  .github/workflows/infrastructure.yml
  .github/workflows/labels.yml
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`label-linked-issues`] set `GITHUB_TOKEN`
  .github/workflows/label-linked-issues.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci: [@dependabot] configure grouped version updates
  .dictionary.txt
  .github/dependabot.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(deps-dev): bump @flex-development/tutils from 6.0.0-alpha.10 to 6.0.0-alpha.12
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

chore: update dev and test environments
  .eslintrc.base.cjs
  .github/infrastructure.yml
  .github/workflows/ci.yml
  .github/workflows/typescript-canary.yml
  .nvmrc
  .prettierrc.json
  .vscode/settings.json
  __tests__/reporters/notifier.ts
  __tests__/ts/v4/tsconfig.build.json
  __tests__/ts/v4/tsconfig.json
  __tests__/ts/v4/tsconfig.typecheck.json
  build.config.ts
  config/changelog.config.ts
  package.json
  tsconfig.build.json
  typings/@types/node/http2.d.ts
  vitest.config.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check

ci(workflows): [`approve-pr`] remove `dependabot-metadata` condition
  .github/workflows/approve-pr.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

chore: analyze types distribution
  .attw.json
  .dictionary.txt
  .eslintignore
  .github/workflows/ci.yml
  package.json
  scripts/release.sh
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

build(deps): bump @flex-development/tutils from 6.0.0-alpha.10 to 6.0.0-alpha.12
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

build(deps-dev): bump @types/unist from 2.0.6 to 3.0.0
  .eslintrc.base.cjs
  package.json
  src/nodes/node.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, yarn build, yarn check:types:build

release: 1.0.0-alpha.13
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

release: 1.0.0-alpha.13 (#227)
  CHANGELOG.md
  package.json
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

feat(types): `DocastNode`
  src/index.ts
  src/types/__tests__/docast-node.spec-d.ts
  src/types/docast-node.ts
  src/types/index.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn build, yarn check:types:build

refactor(nodes)!: camelcase node types
  src/nodes/__tests__/block-tag.spec-d.ts
  src/nodes/__tests__/comment.spec-d.ts
  src/nodes/__tests__/inline-tag.spec-d.ts
  src/nodes/__tests__/type-expression.spec-d.ts
  src/nodes/block-tag.ts
  src/nodes/inline-tag.ts
  src/nodes/type-expression.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn build, yarn check:types:build

refactor(mixins)!: remove `Tag#prefix`
  src/mixins/__tests__/tag.spec-d.ts
  src/mixins/tag.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn build, yarn check:types:build

refactor(content): maps
  src/content/__tests__/block-tag.spec-d.ts
  src/content/__tests__/description.spec-d.ts
  src/content/__tests__/phrasing.spec-d.ts
  src/content/block-tag.ts
  src/content/description.ts
  src/content/phrasing.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn build, yarn check:types:build

refactor(nodes): [`BlockTag`] define `children` as discriminate union
  src/nodes/__tests__/block-tag.spec-d.ts
  src/nodes/block-tag.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn build, yarn check:types:build

refactor(content): [`Description`] re-add `mdast.Paragraph`
  src/content/__tests__/description.spec-d.ts
  src/content/description.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn build, yarn check:types:build

build(deps-dev): bump @types/node from 20.11.14 to 20.11.19
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

chore(github): add commit scope `chore`
  .commitlintrc.cts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

ci(workflows): [`release`] remove `close-issues` step
  .dictionary.txt
  .github/workflows/release.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

chore(tests): fix test runner
  vitest.config.ts
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run

chore(tests): fix frozen ci tests
  .dictionary.txt
  .github/dependabot.yml
  .lintstagedrc.json
  package.json
  tsconfig.json
  tsconfig.typecheck.json
  vitest.config.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check

build(deps-dev): drop vite-tsconfig-paths
  .github/dependabot.yml
  package.json
  vitest.config.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check

chore(tests): fix frozen ci tests
  .commitlintrc.ts
  .eslintrc.base.cjs
  package.json
  tsconfig.cjs.json
  tsconfig.json
  tsconfig.typecheck.json
  vitest.config.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check

build(deps-dev): bump typescript from 5.3.3 to 5.4.0-beta
  .github/infrastructure.yml
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

build(deps-dev): bump vite from 5.1.2 to 5.1.3
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

docs: add `docast-util-from-docs` to list of utilities
  README.md
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`lock-inactive-threads`] use bot token
  .github/workflows/lock-inactive-threads.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

ci(workflows): [`no-response`] use bot token
  .github/workflows/no-response.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

build(deps-dev): bump typescript from 5.4.0-beta to 5.4.5
  .github/infrastructure.yml
  .github/workflows/ci.yml
  package.json
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, yarn dedupe --check

feat(content): `NodeMap`
  .dprint.jsonc
  .eslintignore
  .eslintrc.base.cjs
  .gitignore
  .lintstagedrc.json
  .vscode/settings.json
  CONTRIBUTING.md
  README.md
  __tests__/setup/index.ts
  __tests__/types/index.ts
  __tests__/types/node-object.ts
  package.json
  src/content/__tests__/block-tag.spec-d.ts
  src/content/__tests__/content.spec-d.ts
  src/content/__tests__/description.spec-d.ts
  src/content/__tests__/flow.spec-d.ts
  src/content/__tests__/node.spec-d.ts
  src/content/__tests__/phrasing.spec-d.ts
  src/content/block-tag.ts
  src/content/content.ts
  src/content/description.ts
  src/content/flow.ts
  src/content/index.ts
  src/content/node.ts
  src/content/phrasing.ts
  src/types/__tests__/docast-node.spec-d.ts
  src/types/docast-node.ts
  src/types/index.ts
  tsconfig.json
  tsconfig.typecheck.json
  vitest.config.ts
  yarn.lock
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error, vitest typecheck --changed --run, yarn dedupe --check, yarn build, yarn check:types:build

ci(workflows): [`ci`] use `secrets.GH_REGISTRY_TOKEN`
  .github/workflows/ci.yml
Due: prettier --check, cspell lint --color --no-progress --relative $@, eslint --exit-on-fatal-error

Path conditions:
  prettier --check: any of: *
  cspell lint --color --no-progress --relative $@: any of: *
  eslint --exit-on-fatal-error: any of: **/*.{cjs,cts,gql,js,json,json5,jsonc,md,mjs,mts,ts,yml}
  vitest typecheck --changed --run: any of: **/*.{cts,mts,ts}
  yarn dedupe --check: any of: **/yarn.lock
  yarn build: any of: src/**/*.ts
  yarn check:types:build: any of: src/**/*.ts
